<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">Cart&nbsp;<i class="glyphicon glyphicon-shopping-cart"></i></li>
</ol>
<h3 ng-hide="cartExists">Your Cart is empty</h3>
<div class="thumbnail" ng-show="cartExists" ng-controller="CartDetailCtrl">
	<div class="caption-full table-responsive">
		<table class="table table-hover">
			<tr class="active">
				<th>Product Name</th>
				<th>Qty.</th>
				<th>Unit Price</th>
				<th>Total</th>
				<th class="remove">&nbsp;</th>
			</tr>
			<tr ng-repeat="citem in cart.shopping_cart_items">
				<td><a href="#/products/{{citem.item_id}}">{{citem.item.name}}</a></td>
				<td>{{citem.quantity}}</td>
				<td>{{citem.price}}</td>
				<td>{{citem.price * citem.quantity}}</td>
				<td><a href="javascript:" ng-click="removeItem()" ng-controller="CartCtrl"><i class="glyphicon glyphicon-trash"></i></a></td>
			</tr>
		</table>
	</div>
</div>