.container
  %hr
  %footer
    .row
      .col-lg-12
        %p
          Copyright &copy; #{Date.today.year} - Site by
          %a{href:"http://in.linkedin.com/in/kalyanallampalli/", target:'_new'}Kalyan
    