<div class="form-group">
	<label for="product_name">Product Name</label>
	<input type="text" class="form-control" placeholder="Enter product name" required="true" ng-model="product.name">
</div>
<div class="form-group">
	<label for="product_price">Price</label>
	<input type="number" class="form-control" placeholder="Enter product price" required="true" ng-model="product.price">
</div>
<div class="form-group">
	<label for="product_description">Description</label>
	<textarea class="form-control" required="true" ng-model="product.description"></textarea>
</div>