<div class="thumbnail">
    <img alt="" src="http://placehold.it/800x300" class="img-responsive">
    <div class="caption-full">
        <h4 class="pull-right">&#8377; {{product.price}}</h4>
        <h4><a ng-href="#/products/{{product.id}}">{{product.name}}</a></h4>
        <p>
        	{{product.description}}
        </p>
    </div>
    <div class="ratings">
    	<a href="#/products/{{product.id}}/edit" class="pull-right">Edit</a>
        <p class="pull-right">3 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
</div>