<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">{{product.name}}</li>
</ol>
<div class="thumbnail">
    <img alt="" src="http://placehold.it/800x300" class="img-responsive">
    <div class="caption-full">
        <h4 class="pull-right">&#8377; {{product.price}}</h4>
        <h4><a ng-href="#/products/{{product.id}}">{{product.name}}</a></h4>
        <p>
        	{{product.description}}
        </p>
    </div>
    <div class="ratings">
    	<a ng-click="add_to_cart()" href="javascript:" ng-controller="CartCtrl" class="pull-right btn btn-success">Add to Cart</a>
    	<p>
    		<a href="#/products/{{product.id}}/edit">Edit</a>
    	</p>
    </div>	
    <div class="ratings">
        <p class="pull-right">{{product.reviews.length}} reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
</div>
<div class="well">
	<h4>Leave a Review</h4>
	<div class="text-right" ng-include="'/assets/reviews/new.html'"></div>
	<hr />
	<div ng-repeat="review in product.reviews">
		<div class="row">
			<div class="col-md-12">				
				<strong>{{review.name}}</strong>
				<span class="pull-right">{{review.created_at | date:'MMM dd, yyyy HH:mm'}}</span>
				<p>{{review.description}}</p>
			</div>
		</div>
		<hr />
	</div>	
</div>